.oreditor{
    background-color: #efefef;
    display: flex;
    justify-content: center;
    padding: 20px;

    .ore-page{
        box-shadow: 0 0 10px #ccc;
        background-color: #fff;
        position:relative;
        cursor: text;
        .ore-cursor{
            position: absolute;
            left:0;
            top:0;
            border:none;
            outline: none;
            border-radius: 0;
            &.blur{
                margin-left:2px;
                border-left: 1px solid #999;
            }
        }
        .ore-canvas{
            position: absolute;
            left:0;
            top:0;
            border:none;
            outline: none;
        }
    }
}
body{
    margin:0;
}